<!DOCTYPE html>
<html>
<head>

    <title>Solar Flare Predictor</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
<nav>

    <h2>Solar Flare Predictor</h2>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="#">Dashboard</a></li>

        <li><a href="#">Prediction</a></li>

        <li><a href="#">About</a></li>

    </ul>

</nav>
<div class="container">

    <h1>Solar Flare Predictor</h1>

    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages %}

            <div class="{{ category }}">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}

{% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>