{% extends "base.html" %}

{% block content %}

<div class="main">

    <!-- LEFT SIDE -->
    <div class="left">

        <h2>Enter Solar Parameters</h2>

        <!-- Dashboard Cards -->
        <div class="cards">

            <div class="card">
                <h3>🌀 Solar Wind</h3>
                <p>520 km/s</p>
            </div>

            <div class="card">
                <h3>☀️ X-Ray Flux</h3>
                <p>3.4</p>
            </div>

            <div class="card">
                <h3>🌞 Sunspots</h3>
                <p>185</p>
            </div>

        </div>

        <!-- Form -->
        <form action="/predict" method="POST">

            <label>Solar Wind Speed</label>
            <input type="number" name="solar_wind">

            <label>X-Ray Flux</label>
            <input type="number" step="any" name="xray_flux">

            <label>Proton Flux</label>
            <input type="number" step="any" name="proton_flux">

            <label>Sunspot Number</label>
            <input type="number" name="sunspot_number">

            <label>Magnetic Field</label>
            <input type="number" name="magnetic_field">

            <button type="submit">
                Analyze Solar Activity
            </button>

        </form>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right">

        <img src="{{ url_for('static', filename='images/satellites.jpg') }}" alt="Satellite">

    </div>

</div>

{% endblock %}